{% extends 'header_footer.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/lesson_trail.css' %}">
    <title>{{ title }}</title>
</head>
    <div class="title_box">
        <img src="{% static 'images/tale_1_img.png' %}" alt="tale_img" class="tale_img">
        <div class="stats_grid">
            <h1 class="title">{{ tale.name_tales }}</h1>
            <div class="progress_bar"></div>
            <h1 class="chapter">Глава 1</h1>
            <p class="part">Малай нашел шурале</p>
        </div>
    </div>
    <div class="quest_mapcontainer">
        <div class="map_layout">
            <div class="lesson_done first"><a href="{% url 'lesson_tale' 2 %}">a</a></div>
            <div class="lesson_done second"><a href="{% url 'lesson_tale' 2 %}">a</a></div>
            <div class="lesson third"><a href="#">a</a></div>
            <div class="lesson fourth"><a href="#">a</a></div>
        </div>
    </div>
{% endblock %}