{% extends 'header_footer.html' %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'css/tails_select.css' %}">
        <title>{{ title }}</title>
    </head>
    <div class="tails_container">
        <h1>Сказки</h1>
        <div class="tale_1">
            <div class="img_stats">
                <img src="{% static 'images/tale_1_img.png' %}" alt="t_1_img">
                <div class="t_stats">
                    <h1>Шурале</h1>
                    <a href="{% url 'map_lesson' 1 %}">Продолжить ></a>
                    <div id="progress_bar_1" class="t_progress_bar"></div>
                </div>
            </div>
            <p id="tale_1">Джигит направляется ночью в лесной уголок, чтобы собрать дрова. 
                Когда он начинает рубить дрова, из чащи выходит страшный лесной дух Шурале. 
                Он предлагает Джигиту игру в щекотки, желая довести Джигита в этой игре 
                до самой смерти. Однако умному Джигиту удалось перехитрить злобного Шурале. 
                Он защемил пальцы Шурале в бревне, от чего тот стал кричать и молить о пощаде. 
                Другие чудища сбежались на крик Шурале, а потом его осудили. Ведь крик его, 
                как они подумали, оказался бессмысленным, так как он всем сказал, 
                что ему защемил пальцы "Вгодуминувшем", так как именно этим именем ему представился Джигит. 
                Лесные чудища же в недоумении и негодовании были от того, почему он кричит сейчас, 
                раз пальцы ему защемили, как они поняли, в минувшем году.</p>
        </div>
        <div class="tale_2">
            <div class="img_stats">
                <img src="{% static 'images/tale_2_img.png' %}" alt="t_2_img">
                <div class="t_stats">
                    <h1>Су-Анасы</h1>
                    <a href="#">Продолжить ></a>
                    <div id="progress_bar_2" class="t_progress_bar"></div>
                </div>
            </div>
            <p id="tale_2">Джигит направляется ночью в лесной уголок, чтобы собрать дрова. 
                Когда он начинает рубить дрова, из чащи выходит страшный лесной дух Шурале. 
                Он предлагает Джигиту игру в щекотки, желая довести Джигита в этой игре 
                до самой смерти. Однако умному Джигиту удалось перехитрить злобного Шурале. 
                Он защемил пальцы Шурале в бревне, от чего тот стал кричать и молить о пощаде. 
                Другие чудища сбежались на крик Шурале, а потом его осудили. Ведь крик его, 
                как они подумали, оказался бессмысленным, так как он всем сказал, 
                что ему защемил пальцы "Вгодуминувшем", так как именно этим именем ему представился Джигит. 
                Лесные чудища же в недоумении и негодовании были от того, почему он кричит сейчас, 
                раз пальцы ему защемили, как они поняли, в минувшем году.</p>
        </div>
        <!-- <div class="tale_3">
            <div class="img_stats">
                <img src="{%  static 'images/tale_3_img.png' %}" alt="t_3_img">
                <div class="t_stats">
                    <h1>Название</h1>
                    <a href="#">Завершено</a>
                    <div class="t_progress_bar"></div>
                </div>
            </div>
            <p id="tale_3">Джигит направляется ночью в лесной уголок, чтобы собрать дрова. 
                Когда он начинает рубить дрова, из чащи выходит страшный лесной дух Шурале. 
                Он предлагает Джигиту игру в щекотки, желая довести Джигита в этой игре 
                до самой смерти. Однако умному Джигиту удалось перехитрить злобного Шурале. 
                Он защемил пальцы Шурале в бревне, от чего тот стал кричать и молить о пощаде. 
                Другие чудища сбежались на крик Шурале, а потом его осудили. Ведь крик его, 
                как они подумали, оказался бессмысленным, так как он всем сказал, 
                что ему защемил пальцы "Вгодуминувшем", так как именно этим именем ему представился Джигит. 
                Лесные чудища же в недоумении и негодовании были от того, почему он кричит сейчас, 
                раз пальцы ему защемили, как они поняли, в минувшем году.</p>
        </div> -->
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tale_select.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Прогресс значения для каждой сказки
            var tale_1 = {{ progress_value_1 }};
            var tale_2 = {{ progress_value_2 }};
            
            // Устанавливаем ширину шкалы прогресса с помощью CSS
            $('#progress_bar_1').css('background', 'linear-gradient(to right, #F4E04D 0%, #F4E04D ' + tale_1 + '%, #ffffff ' + tale_1 + '%, #ffffff 100%)');
            $('#progress_bar_2').css('background', 'linear-gradient(to right, #0567E7 0%, #0567E7 ' + tale_2 + '%, #ffffff ' + tale_2 + '%, #ffffff 100%)');
        });
    </script>
{% endblock %}