@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-image: url("../images/background_img.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.lesson_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 25vw;
    border-radius: 25px;
    margin-top: 4vw;
    padding: 2vw;
}

img[alt = lesson_img] {
    margin: 2vw  1vw;
}

div.top {
    display: grid;
    grid-template-rows: 2vw 2vw;
    grid-template-columns: 19vw 22vw;
    margin-top: 2vw;
}
div.top>svg.arrow_back {
    grid-row: 1;
    grid-column: 1;
    width: 1.2vw;
    height: 1.2vw;
}
div.top>h1 {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    font-size: 1.3vw;
    margin: 0;
}
div.top>div.progress_bar {
    grid-row: 2;
    grid-column: span 2;
    height: 1vw;
    border: 0.2vw solid #A4CD2D;
    /* Заполнение прогресс бара */
    background: linear-gradient(to right, #A4CD2D 0%, #A4CD2D 70%, #ffffff 0%, #ffffff 100%);
    border-radius: 20px;
}

.lesson {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content_text>h2 {
    font-size: 1.4vw;
    margin-bottom: 4vw;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw auto;
    width: 30vw;
}
.btns>button {
    padding: 0.7vw 2.2vw;
    border: none;
    border-radius: 1.5vw;
    background-color: #EBEBEB;
    font-size: 1vw;
}
.btns>button:hover {
    background-color: #d1d0d0;
}

button.next {
    background-color: #87A922;
    font-size: 1.2vw;
    margin-top: 1vw;
    border: none;
    border-radius: 1.5vw;
    color: #ffffff;
    padding: 0.7vw 4vw;
}
button.next:hover {
    background-color: #6c871c;
}