@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #87A922;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}
header {
    margin-bottom: 0;
}
div.block_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vw;
    background-image: url('../images/block_title_back.png');
    background-size: 100% 100%;
}
.block_title>h1.title {
    color: #F4E04D;
    font-size: 5vw;
    margin-bottom: 0;
}
.block_title>h2.sub_title {
    color: #F4E04D;
    font-size: 2vw;
    margin: 0 auto;
    margin-top: 1vw;
}

.content_b_1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2vw 0;
}
.content_b_1>h1.title {
    font-size: 2vw;
    margin-bottom: 4vw;
    z-index: 2;
}
.conten_adv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 26vw;
    border-left: 0.1vw solid #000000;
    padding: 0 1vw;
    padding-bottom: 0.8vw;
}
.conten_adv>p {
    font-size: 1.3vw;
    z-index: 2;
}
.conten_adv>a {
    border: none;
    background-color: #F4E04D;
    border-radius: 3vw;
    padding: 0.5vw 2vw;
    text-decoration: underline;
    font-size: 1vw;
    margin-top: 1vw;
    z-index: 2;
}
.conten_adv>a:hover {
    background-color: #ecd735;
}

.content_b_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.content_b_2>h1.title {
    font-size: 2.4vw;
    z-index: 2;
}
.content_blocks {
    display: grid;
    grid-template-rows: 11vw 16vw 11vw;
    grid-template-columns: repeat(2, 40vw);
    margin-bottom: 2vw;
}
.tales {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-left: 0.1vw solid #ffffff;
    padding-left: 1vw;
}
.gramar {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-left: 0.1vw solid #ffffff;
    padding-left: 1vw;
}
.stud {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-left: 0.1vw solid #ffffff;
    padding-left: 1vw;
}
.text_content>h1 {
    font-size: 1.8vw;
    margin-bottom: 0;
    line-height: 1.8vw;
    color: #F4E04D;
    z-index: 2;
}
.text_content>p {
    font-size: 1.3vw;
    margin-top: 0;
    color: #ffffff;
    z-index: 2;
}

.tales_info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1vw 0;
}
.tales_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
}
.tales_info_container>h1.title {
    font-size: 2vw;
    z-index: 2;
}
img.tales {
    width: 90%;
    object-fit: contain;
    z-index: 2;
}

.reg_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 4vw 25vw;
    border-radius: 2.3vw;
    margin-bottom: 7vw;
}
.reg_block>h1.title {
    color: #0567E7;
    font-size: 2vw;
    margin-bottom: 3vw;
    z-index: 2;
}
.reg_block>p {
    font-size: 1.2vw;
    margin: auto 3vw;
    z-index: 2;
}
.reg_block>a {
    border: none;
    background-color: #0567E7;
    font-size: 1.3vw;
    text-decoration: underline;
    color: #ffffff;
    padding: 0.7vw 3vw;
    border-radius: 2.3vw;
    margin: 3vw auto;
    z-index: 2;
}

img.vector_dotted {
    position: absolute;
    width: 100vw;
    height: 304vh;
    top: 55vw;
    z-index: 0;
}